- var listSize=6

doctype html
html
    block vars
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        link(rel='shortcut icon', href='/images/favicon.ico')
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0')
        script(src='/app.min.js')
    body
        div#page.container
            div.row
                div.col-md-7
                    h1= title
                div.col-md-5.hide   
                    div#list
                            block list
            div.row                
                div.col-md-12              
                    block content
            
            div.well
                span !{md(__i('[Žádost pro přidání](%s) nové hospody, [Lunchtimeroudna](%s) vznikl jako fork z [lunchtimeandel.cz](%s).', 'https://github.com/mareksimunek/lunchtimeandel/issues', 'https://github.com/mareksimunek/lunchtimeandel/issues', 'https://github.com/horejsek/lunchtimeandel'))}
    block end
